@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.Nav {
    // display: none;    
    max-height: 0;
    overflow: hidden;

    @include tablet-desktop(){
        display: flex;
        overflow: visible;
    }
    
    &-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;
        max-height: 500px;
        overflow: hidden;
        transition: all .2s ease-in;
        background-color: $very-light-stone;
        position: absolute;
        top: 4.4rem;
        left: 0;
        width: 100%;
        padding: 2rem 1rem;

        @include tablet-desktop(){
        display: none;
    }

    }

    &__ol {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include tablet-desktop(){
            flex-direction: row;
        }
    }

    &__a {
        color: $medium-stone;

        &:hover {
            color: $amber-color;
        }
    }
}
